/* You can add global styles to this file, and also import other style files */

/*:host{*/
/*  --bg_blue: #1f1e2c;*/
/*  --whitespace: #fbfbfb;*/
/*  --highlights: #dc7233;*/
/*}*/


/*General*/

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fbfbfb;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover{
  text-decoration: none !important;
}

.container{
  background-color: #eae9d7;
  min-height: 90vh;
  height: 100%;
  margin: 0 auto 40px auto !important;
  padding: 30px 50px !important;
}

.row{
  color: #1f1e2c !important;
  text-align: justify;
}

/*Nav bar*/

.navbar-brand{
  padding: 10px 15px !important;
  color: #ddd8c4 !important;

}

.navbar-brand:focus, .navbar-brand:hover {
  color: #dc7233 !important;
}

.mat-toolbar.mat-primary {
  background: #1f1e2c;
  color: #ddd8c4;
}

.mat-drawer-inner-container {
  width: 200px;
  /*height: 100%;*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.mat-drawer.mat-drawer-side {
  z-index: 2;
  width: 200px;
  height: 95vh;
}

app-account-view, app-account-details{
  width: 100%;
}
/*Footer*/

.footer{
  position: fixed;
  bottom: 0;
  z-index: 1000;
  background-color: #1f1e2c;
  color: #ddd8c4;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer a{
  padding: 10px 15px;
  align-self: center;
  text-align: center;
}

/*Bidding and reviews*/

.bid-list, .review-list{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.bid-list li, .review-list li {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #fbfbfb;
  padding: 15px;
  margin: 10px 0;
  flex-direction: row;
  justify-content: space-around;
}

.bid-list li span, .review-list li span {
  min-width: 100px;
  padding-top: 10px;
}

.bid-list li input, .review-list li input {
  min-width: 100px;
}

.downloadable{
  margin-right: 15px;
  color: #1f1e2c;
}

select{
  background-color: #eae9d7;
  border: none;
  color: #1f1e2c;

}

button{
  background-color: #dc7233;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  color: #eae9d7;
}
/*.bid-list li span, .review-list li span{*/
/*  padding: 0 5px;*/
/*}*/

select.input-lg, select.input-lg:focus {
  background-color: #eae9d7;
  max-width: 150px;
  border: none;
  color: #1f1e2c;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

select + i.fa {
  margin-top: -30px;
  pointer-events: none;
  background-color: #eae9d7;
  color: #1f1e2c;
  margin-right: 15px;
}

/*Icons*/

mat-icon{
  vertical-align: middle;
}
