<div mat-dialog-content>
</div>
<input [(ngModel)]="searchText" placeholder="Search by name..">

<mat-selection-list #clients [(ngModel)]="selectedOptions" (ngModelChange)="onNgModelChange($event,clients.selectedOptions.selected)" >
  <mat-list-option *ngFor="let c of clientList| filter: searchText" [value]="c.id">
    {{c.name}}
  </mat-list-option>
</mat-selection-list>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="client" mat-dialog-close>Save</button>
  <button mat-button [mat-dialog-close]="cancel" cdkFocusInitial>Cancel</button>
</div>
