@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.wrapper{
  height: 100vh;
}

.wrapper{
  background-image: url("src/app/Lovepik_com-401462586-3d-tech-grid-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

p{
  color: white;
  font-size: 2em;
}

.date-time{
  color: #82A3A1;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.left-side{
  height: inherit;
  width: 75vw;
}

.right-side{
  height: inherit;
  width: 50vw;
}

img{
  /*height: 100%;*/
  /*transform: scale(1.5);*/
  margin-top: -20em;
  width: 100%;
}

.img-wrapper{
  height: inherit;
  width: 100%;
}

/*mat-slide-toggle{
  margin-left:-10%;
}*/
mat-accordion{
  width: 100%;
}

mat-expansion-panel{
  background-color: transparent;
  width: 100%;
  box-shadow: none;
}

.locationList mat-list-option /*, .roomList mat-list-option*/{
  color: #82A3A1;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-weight: bold;
}

mat-panel-title{
  color: #82A3A1;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-weight: bold;
  font-size: 1.5em;
}

mat-panel-description{
  color: rgba(1, 25, 54, 0.5);
  font-style: italic;
}

.del{
  top:0;
  right:0;
  position: absolute;
  color:#011936;
}
.row{
  color:#465362;
  text-shadow:
    -1px -1px 0 #011936,
    1px -1px 0 #011936,
    -1px 1px 0 #011936,
    1px 1px 0 #011936;
  font-weight: bold;
  font-size: 1.2em;
  margin-left:5%;
  margin-right:10%;
  padding-top: 10%;

}

.date, .button-area, .weather, .pick-room, .pick-location{
  background-color: rgba(70, 83, 98, 0.5);
  border: rgba(70, 83, 98, 0.5);
  border-radius: 1em;
}

mat-expansion-panel-header:hover {
  background-color: currentColor
}

.location{
  text-align: left;
}

.left{
  width: 100%;
  text-align: left;
  margin-left: 1em;
}
.border{
  border-style: solid;
  border-radius: 15px;
  float:left;
  margin-bottom: 5%;
  margin-left: 1%;
  background-color: #82A3A1;
  width: 45%;
  padding-top: 4%;
  padding-bottom: 4%;
  position: relative;
}
.weather{
  height: 100%;
}

#weather{
  display: block;
  color: #fff;
  /*-webkit-text-stroke: 0.01em black;*/
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-weight: bold;
  width: 100%;
}

.fas{
  text-shadow: none;
  font-weight: bold;
  font-size: 5em;
}

.weatherWidgetRow{
  display:block;
  margin:0 auto;
  width: fit-content;
}

.sun{
  margin-top: 10px;
  color: yellow;
  filter: drop-shadow( 1px 1px 10px yellow);
}

.moon{
  margin-top: 10px;
  color: white;
  filter: drop-shadow( 1px 1px 10px white);
}


.cloudDiv{
  margin-top: -40px;
}

.cloud{
  color: rgb(132, 215, 238);
  filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement{
  from{margin-left: -55px;}
  to{margin-left: 65px;}
}
