h1{
  top:25%;
  left: 10%;
  position:absolute;
  color:black;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

div.step{top: 55%;
  left:10%;
  color: black;
  position: absolute;
}
p{
  font-size: 20px;
  color:black;
}
body{
  background-image: url("background.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}
