table {
  width: 50%;
  margin-left: 20em;
}

th.mat-sort-header-sorted {
  color: black;
}

button:hover{
  color: darkslategrey;
  background-color: #E5E5E5;
}
mat-paginator{
  width:50%;
  margin-left:23.35em;
}
.mat-form-field {
  font-size: 14px;
  width: 50%;
  margin-left: 13em;

}
.mat-column-select {
  overflow: initial;
}

h2{
  display: inline;
  margin-right: 2em;
  margin-top: 2em
}

button:hover{
  color: darkolivegreen;
  background-color: #CFD8DC;
}
button{
  width:16%;
  margin-left: 20em;
  margin-top: 1em;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 0.5em;
  float: left;
}
button.buybtn, button.update{
  margin-left: 1em;
}


