<h2>Clients</h2>


<mat-form-field>
  <mat-label>Filter after name</mat-label>
  <label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ion">
  </label>
</mat-form-field>

<table mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Serial number Column -->
  <ng-container matColumnDef="serialNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial Number </th>
    <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>
<mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[3, 5, 10, 25]"></mat-paginator>

<button class="delete" (click)="deleteClient()">
  Delete
</button>
<button class="update" (click)="updateClient()">
  Update
</button>
<button class="buybtn" (click)="buy()">
  Buy
</button>
