<h1 mat-dialog-title>Add a new GSM controller</h1>
  <p>Type: </p>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select #gsm_type [(ngModel)]="data.gsm_type" name="type" ngDefaultControl [formControl]="typeControllForm">
    <mat-option value="door">Door</mat-option>
    <mat-option value="window">Window</mat-option>
  </mat-select>
  <mat-error *ngIf="typeControllForm.touched && typeControllForm.invalid">
    Please select a type
  </mat-error>
</mat-form-field>
<br>
<label>Status: </label>
<mat-radio-group>
  <mat-radio-button value="ON" name="status" ngDefaultControl color="warn" #status [(ngModel)]="data.status">ON</mat-radio-button>
  <mat-radio-button value="OFF" name="status" ngDefaultControl class="button2" color="warn" #status [(ngModel)]="data.status">OFF</mat-radio-button>
</mat-radio-group>
<br>
  <p><br>Phone number:</p>
<mat-form-field appearance="fill">
  <mat-label>Phone number</mat-label>
  <input matInput #phoneNumber [(ngModel)]="data.phoneNumber" name="phone" ngDefaultControl [formControl]="phoneControllForm">
  <mat-error *ngIf="phoneControllForm.touched && phoneControllForm.invalid">
    Please enter a valid phone number
  </mat-error>
</mat-form-field>
<br><br>
<button (click)="!isError() && add(gsm_type.value, status.value, phoneNumber.value)">ADD</button>
<button (click)="onCloseClick()">Cancel</button>

