table {
  width: 50%;
  margin-left: 20em;
}

th.mat-sort-header-sorted {
  color: black;
}

button:hover{
  color: darkslategrey;
  background-color: #E5E5E5;
}
button{
  margin-top: 1em;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 0.5em;
  margin-left:20em;
  width: 23.7%;
  text-align: center;
}
button.update{
  margin-left: 2em;
}
.mat-form-field {
  font-size: 14px;
  width: 50%;
  margin-left: 20em;
}
.mat-column-select {
  overflow: initial;
}
