.border{
  border-style: solid;
  border-radius: 15px;
  float:left;
  margin-bottom: 5%;
  margin-left: 1%;
  background-color: #82A3A1;
  width: 45%;
  padding-top: 4%;
  padding-bottom: 4%;
  position: relative;
}

.del{
  top:0;
  right:0;
  position: absolute;
  color:#011936;
}

.row{
  color:#465362;
  text-shadow:
    -1px -1px 0 #011936,
    1px -1px 0 #011936,
    -1px 1px 0 #011936,
    1px 1px 0 #011936;
  font-weight: bold;
  font-size: 1.2em;
  margin-left:5%;
  margin-right:10%;
  padding-top: 10%;

}
