<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="pinterest" content="nopin" />
</head>
<body>

<div class="about"><br>Meet the team!</div>
<br><br>
<div class="container">
  <div class="col-md-4">
    <div class="caption">
      <p>Marius- project manager</p>
    </div>
        <img src="assets/Marius1.png" alt="Vlad" class="img-responsive">
  </div>
  <div class="col-md-4">
    <div class="caption">
      <p>Roxana- project manager</p>
    </div>
      <img src="assets/Roxana1.png" alt="Vlad" class="img-responsive">
  </div>
  <div class="col-md-4">
    <div class="caption">
      <p>Flaviu- project manager</p>
    </div>
      <img src="assets/Flaviu1.png" alt="Vlad" class="img-responsive">
  </div>
</div>
<div class="container">
  <div class="col-md-4">
    <div class="caption">
      <p>Maria- backend & frontend developer</p>
    </div>
    <img src="assets/Maria1.png" alt="Vlad" class="img-responsive">
  </div>
  <div class="col-md-4">
    <div class="caption">
      <p>Vlad- frontend developer</p>
    </div>
    <img src="assets/Vlad1.png" alt="Vlad" class="img-responsive">
  </div>
  <div class="col-md-4">
    <div class="caption">
      <p>Claudia- frontend developer</p>
    </div>
    <img src="assets/Claudia1.png" alt="Vlad" class="img-responsive">
  </div>
</div>
<div class="container">
  <div class="col-md-4">
    <div class="caption">
      <p>Andrei - backend developer</p>
    </div>
    <img src="assets/Andrei1.png" alt="Vlad" class="img-responsive">
  </div>
  <div class="col-md-4">
    <div class="caption">
      <p>Andreea- frontend developer</p>
    </div>
    <img src="assets/Andreea1.png" alt="Vlad" class="img-responsive">
  </div>
  <div class="col-md-4">
    <div class="caption">
      <p>Ovidiu- frontend developer</p>
    </div>
    <img src="assets/Ovidiu1.png" alt="Vlad" class="img-responsive">
  </div>
</div>
</body>
