*{
  background: transparent;
}

body{
  /*background-image: url("src/assets/background.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-position: center center;*/
  background: transparent;
}
@font-face {
  font-family: "CustomFont";
  src: url('Merriweather-BlackItalic.ttf');
}

p{
  font-family: 'CustomFont','sans-serif';
  font-size: 1em;
  color:#C6E0FF;
}

.caption{
  text-align: center;
  color: #C0DFA1;
  font-size: 1em;
  text-shadow: 4px 2px 3px black;
  margin-left: auto;
  margin-right: auto
}
div.about{
  text-align: center;
  font-family: 'CustomFont','sans-serif';
  width: 20%;
  color: #C0DFA1;
  font-size: 2em;
  text-shadow: 4px 2px 3px black;
  margin-left: auto;
  margin-right: auto;
}
div.col-md-4{
  background: transparent;
  width:50vh;
  height:50vh;
  margin-left: auto !important;
  margin-right: auto !important;
}

img:hover{
  transition: transform .4s;
  transform: scale(1.5);
}
