<h1 mat-dialog-title>Update GSM controller</h1>

  <p>Type: </p>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select #gsm_type [(ngModel)]="data.gsm_type" name="type" ngDefaultControl [formControl]="typeControllForm">
    <mat-option value="door">Door</mat-option>
    <mat-option value="window">Window</mat-option>
  </mat-select>
  <mat-error *ngIf="typeControllForm.touched && typeControllForm.invalid">
    Please select a type
  </mat-error>
</mat-form-field>
<label><br>Status: </label>
<mat-radio-group appearance="fill">
  <mat-radio-button value="ON" #status [(ngModel)]="data.status" disabled name="status" ngDefaultControl>ON</mat-radio-button>
  <mat-radio-button value="OFF" class="button2" #status [(ngModel)]="data.status" disabled name="status" ngDefaultControl>OFF</mat-radio-button>
</mat-radio-group>

<p><br></p>
<mat-form-field appearance="fill">
  <mat-label>Phone number</mat-label>
  <input matInput #phoneNumber [(ngModel)]="data.phoneNumber" name="phone" ngDefaultControl [formControl]="phoneControllForm">
  <mat-error *ngIf="phoneControllForm.touched && phoneControllForm.invalid">
    Please enter a valid phone number
  </mat-error>
</mat-form-field>
<p><br></p>
<p><br>Name:</p>
<mat-form-field appearance="fill">
  <mat-label>Name</mat-label>
  <input matInput #name [(ngModel)]="data.name" name="name" ngDefaultControl [formControl]="nameControllForm">
  <mat-error *ngIf="nameControllForm.touched && nameControllForm.invalid">
    Please enter a valid name
  </mat-error>
</mat-form-field>
<p><br></p>
  <button (click)="!isError() && Update(gsm_type.value, status.value, phoneNumber.value,name.value)">Update</button>
  <button (click)="onCloseClick()">Cancel</button>


