<h1 mat-dialog-title>Update GSM controller</h1>

  <p>Type: </p>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="door" #gsm_type [(ngModel)]="data.gsm_type" name="type" ngDefaultControl>Door</mat-option>
    <mat-option value="window" #gsm_type [(ngModel)]="data.gsm_type" name="type"  ngDefaultControl>Window</mat-option>
  </mat-select>
</mat-form-field>
<label><br>Status: </label>
<mat-radio-group appearance="fill">
  <mat-radio-button value="ON" #status [(ngModel)]="data.status" disabled>ON</mat-radio-button>
  <mat-radio-button value="OFF" class="button2" #status [(ngModel)]="data.status" disabled>OFF</mat-radio-button>
</mat-radio-group>

<p><br></p>
<mat-form-field appearance="fill">

  <mat-label>Phone number</mat-label>
  <input matInput #phoneNumber [(ngModel)]="data.phoneNumber" name="phone" ngDefaultControl>
</mat-form-field>
  <br>
  <button (click)="Update(gsm_type.value, status.value, phoneNumber.value)">Update</button>
  <button (click)="onCloseClick()">Cancel</button>


