<form (ngSubmit)="onSubmit(f)" #f="ngForm" >
  <label for='title'>Title:</label><br>
  <input type='text' id= 'title' name='title' [(ngModel)]="title" ngModel required><br>
  <label for='author'>Author:</label><br>
  <input type='text' id='author' name='author' [(ngModel)]="author" ngModel required ><br>
  <label for='year'>Year:</label><br>
  <input type='text' id='year' name='year' [(ngModel)]="year" ngModel required><br>
  <label for='price'>Price:</label><br>
  <input type='text' id='price' name='price' [(ngModel)]="price" ngModel required><br>
  <label for='inStock'>In stock:</label><br>
  <input type='text' id='instock' name='instock' [(ngModel)]="inStock" ngModel required><br>
  <button mat-button mat-dialog-close="" type="submit">Update book</button>
  <button mat-button mat-dialog-close="" >Cancel</button>
</form>


