<div mat-dialog-content>
  <p>Choose the book</p>
</div>
<input [(ngModel)]="searchText" placeholder="Search by title..">

<mat-selection-list #books [(ngModel)]="selectedOptions" (ngModelChange)="onNgModelChange($event,books.selectedOptions.selected)" >
  <mat-list-option *ngFor="let c of bookList| filter: searchText" [value]="c.id">
    {{c.title}}
  </mat-list-option>
</mat-selection-list>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="book" mat-dialog-close>Save</button>
  <button mat-button [mat-dialog-close]="cancel" cdkFocusInitial>Cancel</button>
</div>
