.content{
  text-align: center;
}
input{
  margin-bottom: 1vmax;
}
p{
  border-radius: 25px;
  font-weight: normal;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  background-color: gray;
  color: white;
  padding: 4px;
}
.buttons{
  position: relative;
  text-align: center;
}
p:first-child{
  position: absolute;
  left: 0;
}
p:last-child{
  position: absolute;
  right: 0;
}
p:hover{
  background-color: #9FC490;
  color: black;
}
