button{
  margin-top: 2em;
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 0.5em;
  float: right;
}
button:hover {
  color: darkslategrey;
  background-color: #CFD8DC;
}
