<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Home(Logo)</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">About us</a></li>
      <li><a href="#">Get started</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
    </ul>
  </div>
</nav>
<div class="about"><br><br>Meet the team!</div>
<article>
  <img src="assets/Ovidiu.png" width="20%" height="16%"><span class="nume">Ovidiu</span>
  <img src="assets/Andreea.png" width="20%" height="14%"><span class="nume">Andreea</span>
  <img src="assets/Flaviu.png" width="20%" height="14%"><span class="nume">Flaviu</span>
</article>
<article>
  <img src="assets/Andrei.png" width="20%" height="16%"><span class="nume">Andrei</span>
  <img src="assets/Vlad.png" width="20%" height="14%"><span class="nume">Vlad</span>
  <img src="assets/Roxana.png" width="20%" height="14%"><span class="nume">Roxana</span>
</article>
<article>
  <img src="assets/Maria.png" width="20%" height="14%"><span class="nume">Maria</span>
  <img src="assets/Claudia.png" width="20%" height="16%"><span class="nume">Claudia</span>
  <img src="assets/Marius.png" width="20%" height="14%"><span class="nume">Marius</span>
</article>
</body>
</html>
