/*toolbar+sidenav (copy)*/
#body{
  background-image: url("src/app/Lovepik_com-401462586-3d-tech-grid-background.jpg");
  background-size: cover;
}
.title{
  font-size: 200%;
}
.companyName{
  font-size: 150%;
}

.mat-toolbar{
  margin-top: 4vh;
  height: 7vh;
  background-color: transparent;
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
  background-color: transparent;
  height: 89vh !important;
  width: auto;
}
mat-sidenav a{
  display: block;
  text-decoration: none;
  font-size: 110%;
  white-space: normal;

}
mat-sidenav a.bottom{
  font-size: 150%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
  font-size: 200%;

}

/*profile page*/
.profile {
  background-color: rgba(70,83,98,0.5);
  -webkit-text-stroke:0.03em black;
  height: 100%;
  margin: auto;
  max-width: 1000px;
  color: white;
}


.data{
  height: 70%;
  width: 80%;
  border-collapse: collapse;
  margin: auto;
}
.profile h1{
  margin: 5% 0 5% 5%;
  font-size: 40px;
  text-align: left;
  /*
  font-weight: bold;
  */
}

.data tr{
  border-bottom: 2px solid white;
}
.data td{
  vertical-align: bottom;
  font-size: 25px;
  padding-bottom: 5px;
}
.data .left{
  /*
  font-weight: bold;
  */
  text-align: left;
}
.data .right{
  text-align: right;
  padding-right: 10px;
}
/*security*/
.security {
  height: 100%;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  color: white;
  background-color: rgba(70,83,98,0.5);
}

.sessions{
  width: 100%;
}

.password{
  margin-top: 5%;
  height: 65%;
  width: 90%;
  margin-left: 10%;
  text-align: left;
}

.security a{
  background-color: gray;
  color: white;
  font-size: 30px;
  margin-left: 5%;
  margin-top: 5%;
  -webkit-text-stroke:0 black;
}
.security a:hover{
  background-color: #9FC490;
  color: black;
}
.password p{
  margin-left: 5%;
  display: block;
  width: 90%;
  text-align: left;
}
.security .label{
  font-size: 20px;
}
.security h1{
  margin: 10px 0 20px 0;
  font-size: 40px;
  text-align: left;
}
.security h2{
  text-align: left;
  font-size: 20px;
  margin-left: 5%;
  font-weight: normal;
}

tr.detail-row {
  height: 0;
}

tr.location-row:not(.example-expanded-row):hover {
  background-color: rgba(0, 158, 255, 0.01);
  cursor: pointer;
}

tr.room-row:not(.example-expanded-row):hover {
  background-color: rgba(0, 158, 255, 0.015);
  cursor: pointer;
}

tr.location-row:not(.example-expanded-row):active {
  background: #efefef;
}

.location-row td {
  border-bottom-width: 0;
}

.buttons {
  overflow: hidden;
  display: flex;
  flex-flow: row-reverse;
}

.manageLocations{
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
}

.location-detail{
  overflow: hidden;
}

.mat-elevation-z8{
  margin-bottom: 1em;
  width: 60%;
}

.room-table, .controller-table, .room-form-field{
  width: 100%;
}

.location-form-field{
  width: 60%;
  font-size: 0.7em;
  color: white;
}

.filter-locations, mat-label{
  color: white;
}

.room-filter-label, .filter-rooms{
  color: #000;
}

.filter-locations::placeholder{
  color: #465362 ;
}

.room-table-wrapper, .controller-table-wrapper{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.room-table{
  background-color: rgba(0, 158, 255, 0.01);
}

.controller-table{
  background-color: rgba(0, 158, 255, 0.012);
}
/*Past actions page styling*/
.pastActionsTable{
  width:100%;
}

.pastActions{
  margin-left: 20%;
  margin-right: 20%;
}
.actions-form-field{
  font-size: 0.7em;
  color: white;
  width : 100%;
}

.loading{
  overflow: hidden;
}
#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #00ff80 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #00ffea none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #00aaff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #0040ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #2a00ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #9500ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: magenta none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #ff0095 none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.spinner-message {
  text-align: center;
}
