html, body{
  min-height: 100vh;
  height:auto;
  margin:0;
  background-image: url("C:\Users\Vlad\my-app\src\assets\FUNDAL.JPEG");
  background-position: center center;
}

div.about{
  text-align: center;
  width: 20%;
  color: white;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;

}

li.dr{
  float:right;
  display: flex;
  border: 1px solid yellow;
}

a.navbar-brand{
  font-size: 1.3em;
}

nav{
  width:100%;
  position: fixed;
}
div.figura{
  width:22%;
  height:16%;
  display: flex;
}

article{
  width:"22%";
  color:white;
  height:15%;
  align-items: center;
}

span.nume{
  margin-right: 8%;
}
