h1{
  align-self:center;
}
button{
  border-radius: 20px;
  border: 1px solid #82A3A1;
  background-color: #82A3A1;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  /*margin-left: 15%;*/
  cursor: pointer;
 /* padding: 10px;*/
  text-align: center;
  width: 80px;
}
button:hover{
  transition: transform .4s;
  transform: scale(1.2);
}
