<div class = 'clientName'>Current client: {{client.name}}</div>
<div class = 'info'>Choose the book you want to buy:</div>
<input [(ngModel)]="searchText" placeholder="Search by title..">

<mat-selection-list #books [(ngModel)]="selectedOptions" (ngModelChange)="onNgModelChange($event,books.selectedOptions.selected)" >
  <mat-list-option *ngFor="let c of bookList| filter: searchText" [value]="c.id">
    {{c.title}}
  </mat-list-option>
</mat-selection-list>

<button class='buy'(click)="buyBook()">Buy</button>
