body{
  height: 100vh;
}
button{
  border-radius: 20px;
  border: 1px solid #82A3A1;
  background-color: #82A3A1;
  color: #FFFFFF;
}
button:active{
  border-radius: 20px;
  border: 1px solid #82A3A1;
  background-color: #82A3A1;
  color: #FFFFFF;
}
button:hover{
  border-radius: 20px;
  border: 1px solid #82A3A1;
  background-color: #82A3A1;
  color: #FFFFFF;
}
@media only screen and (min-width: 600px){
  div.container{
  margin-top:-17%;
}
}
