
.title {
  font-size: 50px;
  font-family: 'Passion One', cursive;
  font-weight: 400;
  color: #fff;
}

.form-group{
  margin-bottom: 3%%;
}

label{
  margin-bottom: 5%;
  color:rgb(255,255,255);
}

input,
input::-webkit-input-placeholder {
  font-size: 13px;
  padding-top: 3px;
}

.main-login{
  background-color: #00000080;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.main-center{
  margin: 0 auto;
  max-width: 450px;
  padding: 20px 20px;

}

.login-button{
  margin-top: 10px;
}
.message {
  color: #fff;
  text-shadow: 1px 1px 2px red;
  padding-left: 30px;
  font-weight: bold;
}
/*https://bootsnipp.com/snippets/R5RDn*/
