<nav id="nav" class="navbar">
  <div class="navbar-left">
    <ul>
      <li *ngIf="!isUserLoggedIn()"><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li *ngIf="isUserLoggedIn()"><a routerLink="/mainpage" routerLinkActive="active">Home</a></li>
    </ul>
  </div>
  <div class="navbar-right">
    <ul>
      <li *ngIf="isUserLoggedIn()"> <a routerLink="/account" routerLinkActive="active"> Your account</a> </li>
      <li *ngIf="!isUserLoggedIn()"><a routerLink="/register" routerLinkActive="active">Register</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About us</a></li>
      <li><a routerLink="/getstarted" routerLinkActive="active">Get Started</a></li>
    </ul>
  </div>
  <a href="javascript:void(0);" id="icon" class="icon">
    <i class="fa fa-bars"></i>
  </a>
</nav>
<router-outlet></router-outlet>


