  <body>
  <div class="container" id="container">
    <!--SIGN UP FORM-->
    <div class="form-container sign-up-container">
      <form (ngSubmit)="signUp(name.value,surname.value,phoneNo.value,email.value,password.value)" >
        <h1>Create Account</h1>
        <input #name type="text" placeholder="Name" [formControl]="nameControl" required/>
        <mat-error *ngIf="nameControl.invalid && nameControl.touched">{{getNameErrorMessage()}}</mat-error>

        <input #surname type="text" placeholder="Surname" [formControl]="nameControl"/>
        <mat-error *ngIf="nameControl.invalid && nameControl.touched">{{getNameErrorMessage()}}</mat-error>

        <input #phoneNo type="text" placeholder="Phone Number" [formControl]="phoneNoControl"/>
        <mat-error *ngIf="phoneNoControl.invalid && phoneNoControl.touched">{{getPhoneNoErrorMessage()}}</mat-error>

        <input #email type="text" placeholder="Email" [formControl]="emailControl"/>
        <mat-error *ngIf="emailControl.invalid && emailControl.touched">{{getEmailErrorMessage()}}</mat-error>

        <input #password type="password" placeholder="Password" [formControl]="passwordControl"/>
        <mat-error *ngIf="passwordControl.invalid && passwordControl.touched">{{getPasswordErrorMessage()}}</mat-error>

        <button type="submit">Sign Up</button>
      </form>
    </div>
    <!--SIGN IN FORM-->
    <div class="form-container sign-in-container">
      <form (ngSubmit)="signIn(emailSignIn.value,passwordSignIn.value)" >
        <h1>Sign in</h1>
        <input #emailSignIn type="email" placeholder="Email or phone number" />
        <input #passwordSignIn type="password" placeholder="Password"/>
        <mat-error *ngIf="errorLogIn">Invalid credentials</mat-error>

        <a routerLink="/forgot-password">Forgot your password?</a>
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  </body>

