  <body>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form (ngSubmit)="signUp(name.value,surname.value,phoneNo.value,email.value,password.value)" >
        <h1>Create Account</h1>
        <input #name type="text" placeholder="Name" />
        <input #surname type="text" placeholder="Surname" />
        <input #phoneNo type="text" placeholder="Phone Number"/>
        <input #email type="email" placeholder="Email"/>
        <input #password type="password" placeholder="Password" />
        <button type="submit">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form (ngSubmit)="signIn(emailSignIn.value,passwordSignIn.value)" >
        <h1>Sign in</h1>
        <input #emailSignIn type="email" placeholder="Email" required/> <!--or phone number-->
        <input #passwordSignIn type="password" placeholder="Password" required />
        <a href="#">Forgot your password?</a>
        <button type="submit">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  </body>

