<table class="body">
  <tr>
    <td [@show]="stateName">
      <table class="title">
        <tr><th>R.</th><th>E.</th><th>M.</th><th>O.</th></tr>
        <tr><td colspan=4>Real-time Enclosure Management and Observation</td></tr>
      </table>
      <ul class ="menu">
        <li><a href="sign_up">SIGN UP</a></li>
        <li><a href="login">LOGIN</a></li>
        <li><a href="about_us">ABOUT US</a></li>
        <li><a href="get_started">GET STARTED</a></li>
      </ul>
    </td>
  </tr>
</table>
<nav class="menu">
  <div>
    <a class="mat-display-2" routerLink="/register">SIGN UP</a>
    <a class="mat-display-2">  |  </a>
    <a class="mat-display-2" routerLink="/register">LOG IN</a>
    <a class="mat-display-2">  |  </a>
    <a class="mat-display-2" routerLink="/about">ABOUT US</a>
    <a class="mat-display-2">  |  </a>
    <a class="mat-display-2" routerLink="/getstarted">GET STARTED</a>
  </div>
</nav>
