<body>
<div class="about"><br><br>Meet the team</div>
<article>
  <img src="Ovidiu.png" width="20%" height="16%"><span class="nume">Ovidiu</span>
  <img src="Andreea.png" width="20%" height="14%"><span class="nume">Andreea</span>
  <img src="Flaviu.png" width="20%" height="14%"><span class="nume">Flaviu</span>
</article>
<article>
  <img src="Andrei.png" width="20%" height="16%"><span class="nume">Andrei</span>
  <img src="Vlad.png" width="20%" height="14%"><span class="nume">Vlad</span>
  <img src="Roxana.png" width="20%" height="14%"><span class="nume">Roxana</span>
</article>
<article>
  <img src="Maria.png" width="20%" height="14%"><span class="nume">Maria</span>
  <img src="Claudia.png" width="20%" height="16%"><span class="nume">Claudia</span>
  <img src="Marius.png" width="20%" height="14%"><span class="nume">Marius</span>
</article>
</body>
